BattleShipService/BattleShipClient/Service References/ServiceReference1/BattleShipService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="BattleShipService" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="BattleShipService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="BattleShipService/Imports">
      <xsd:import namespace="BattleShipService" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPortal_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IPortal_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IPortal_playerLoggedIn_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:playerLoggedIn" />
  </wsdl:message>
  <wsdl:message name="IPortal_playerLoggedIn_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:playerLoggedInResponse" />
  </wsdl:message>
  <wsdl:portType name="IPortal">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="BattleShipService/IPortal/Login" message="tns:IPortal_Login_InputMessage" />
      <wsdl:output wsaw:Action="BattleShipService/IPortal/LoginResponse" message="tns:IPortal_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="playerLoggedIn">
      <wsdl:output wsaw:Action="BattleShipService/IPortal/playerLoggedIn" message="tns:IPortal_playerLoggedIn_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="BattleShipService/IPortal/playerLoggedInResponse" message="tns:IPortal_playerLoggedIn_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>