BattleShipService/BattleShipClient/Service References/ServiceReference1/BattleShipService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="BattleShipService" elementFormDefault="qualified" targetNamespace="BattleShipService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/BattleShipService" />
  <xs:element name="UserRegister">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="passwd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserRegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserRegisterResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="passwd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="passwd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResetPasswordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOnlinePlayer">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOnlinePlayerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BattleShipService" minOccurs="0" name="GetOnlinePlayerResult" nillable="true" type="q1:ArrayOfPlayer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvitePlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="p1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="p2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcceptInvitation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="p1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="p2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playerusername" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BattleShipService" minOccurs="0" name="GetPlayerResult" nillable="true" type="q2:Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyChallenge">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyResponce">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BattleShipService" minOccurs="0" name="game" nillable="true" type="q3:Game" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyResponceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PlayerLoggedIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BattleShipService" minOccurs="0" name="playerlists" nillable="true" type="q4:ArrayOfPlayer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartChatSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="player" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostChatMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="postername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="opponent" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateChatMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="playername" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateChatMessagesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StartGameSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="player" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmReady">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BattleShipService" minOccurs="0" name="ships" nillable="true" type="q5:ArrayOfShip" />
        <xs:element minOccurs="0" name="playername" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeShot">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cellX" type="xs:int" />
        <xs:element minOccurs="0" name="cellY" type="xs:int" />
        <xs:element minOccurs="0" name="gameID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyStartGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startingPlayer" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyStartGameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyShot">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cellx" type="xs:int" />
        <xs:element minOccurs="0" name="celly" type="xs:int" />
        <xs:element minOccurs="0" name="hit" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyShotResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyGameEnded">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="winningPlayer" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyGameEndedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>